@import "tailwindcss";

/* v4 tailwind bị ảnh hưởng vởi * element*/

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@layer base{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@font-face {
  font-family: 'm6x11';
  src: url(assets/m6x11.ttf);
}

@theme{
  --color-customYellow: #D9D980;
  --color-customPink: #D78B8B;
  --font-m6x11: "m6x11", "sans-serif"; 
}